@font-face {
  font-family: Orbitron;
  font-weight: 900;
  src: url('../assets/fonts/Orbitron-Black.ttf');
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Orbitron', Roboto, Helvetica,
    Arial, sans-serif;
  overflow: hidden;
  -webkit-app-region: drag;
}

.app-container {
  position: absolute;
}

.widget-container {
  width: 200px;
  height: 200px;
  position: relative;
}

.clock-face {
  position: relative;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  
  background: radial-gradient(circle at var(--gradient-x-position), var(--start-color), var(--end-color));
  animation: gradientTransition 86,400s infinite alternate;
}

.hand {
  position: absolute;
  transform-origin: bottom center;
  transition: transform 0.5s cubic-bezier(0.4, 2.15, 0.2, 1);
  border-radius: 50% 50% 0% 0%;
}

.hour-hand {
  width: 7px;
  height: 55px;
  top: 40px;
  left: 91.5px;
  background-color: #666666;
  box-shadow: -1px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.minute-hand {
  width: 5px;
  height: 75px;
  top: 20px;
  left: 92.5px;
  background-color: #fd4857;
  box-shadow: -2px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.second-hand {
  width: 3px;
  height: 80px;
  top: 15px;
  left: 93.5px;
  background-color: #ff0000;
  border-radius: 100% 100% 0% 0%;
  box-shadow: -2.5px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.dot {
  position: absolute;
  width: 8%;
  height: 8%;
  top: 46%;
  left: 46%;
  border-radius: 100%;
  background-color: #000000;
}

.display-container {
  position: absolute;
  width: 95px;
  height: 22.5px;
  padding: 5px;
  top: 119.5px;
  left: 41.5px;
  border: solid 2px;
  border-color: #000000;
  background-color: #505237;
  border-radius: 7.5px;
}

.digits {
  position: relative;
  bottom: 4px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
}

@keyframes gradientTransition {
  0% {
    --gradient-x-position: 0%;
  }
  100% {
    --gradient-x-position: 100%
  }
}
